<div class="box"
      [style.background-color]="passwordStrength === 'small' ? 'red' : (passwordStrength === 'empty' ? 'gray' : (passwordStrength === 'weak' ? 'red' : (passwordStrength === 'medium' ? 'yellow' : 'green')))"
      style="width: 57px; height: 10px;">
</div>
<div class="box"
      [style.background-color]="passwordStrength === 'small' ? 'red' : (passwordStrength === 'empty' ? 'gray' : (passwordStrength === 'weak' ? 'gray' : (passwordStrength === 'medium' ? 'yellow' : 'green')))"
      style="width: 57px; height: 10px;">
</div>
<div class="box"
      [style.background-color]="passwordStrength === 'small' ? 'red' : (passwordStrength === 'empty' ? 'gray' : (passwordStrength === 'weak' ? 'gray' : (passwordStrength === 'medium' ? 'gray' : 'green')))"
      style="width: 57px; height: 10px;">
</div>